body
{
    background-color: #000000;
    margin: 0px;
    height: 5120px;/*4096px;*/
    min-height: 5120px;/*4096px;*/
    font-family: Arial,Tahoma,Verdana,sans-serif;
}

a:link, a:visited {
    font-weight: bold;
    color: #99FFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #00FFFF;
}

h1 {
    font-family: 'Six Caps', sans-serif;
    font-weight: normal;
    font-size: 4.5em;
    margin-top: 8px;
    margin-bottom: 16px;
    letter-spacing: 6px;
}

#body-wrapper
{
    background: #000000 url('../images/bg.jpg') no-repeat fixed;
    background-position: center top;
    padding-top: 32px;
    padding-bottom: 1024px;
}
#tierbox-wrapper
{
    margin: 0 auto;
    width: 500px;
    height: 100%;
}
#logo-wrapper
{
    margin: 32px 0;
}
#logo-image
{
    margin: 0 auto;
    width: 350px;
}

.clearfix
{
    clear: both;
}

.title-infobox
{
    color: #cccccc;
    padding: 2px 16px;
    padding-bottom: 16px;
    font-size: 14px;
    background: url('../images/title-infobox-bg.png') repeat;
    margin-bottom: -16px;
    text-shadow: 1px 1px #000000;
}
.title-infobox .title
{
    color: #eeeeee;
    text-align: center;
}
.title-infobox .title-link
{
    text-align: center;
    margin-bottom: 0.67em;
}
.title-infobox .title-body
{
    color: #cccccc;
    text-align: left;
    line-height: 1.6em;
}

.tierbox
{
    margin: 64px 0;
}

.tierbox-top
{
    height: 75px;
    background: url('../images/tierbox-top.png') no-repeat;
}
.tierbox-title
{
    position: relative;
    top: 25px;
    left: 25px;
}
.tierbox-price
{
    float: right;
    margin-right: 50px;
    position: relative;
    top: 22px;
}
.tierbox .subtitle
{
    font-size: 1.2em;
    /*font-weight: bold;*/
    color: #99FFFF;
}

.tierbox-mid
{
    min-height: 100px;
    background: url('../images/tierbox-mid.png') repeat-y;
    text-align: center;
    color: #CCC;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 16px;
    clear: right;
}
.tierbox .infobox .infobox-top
{
    height: 20px;
    background: url('../images/infobox-top.png') no-repeat;
}
.tierbox .infobox .infobox-mid
{
    padding: 0 20px;
    background: url('../images/infobox-mid.png') repeat-y;
}
.tierbox .infobox .infobox-bot
{
    height: 20px;
    background: url('../images/infobox-bot.png') no-repeat;
}
.tierbox .infobox
{
    display: inline-block;
    width: 420px;
}
.tierbox .infobox .image
{
    float: left;
    margin: 0 1px;
}
.tierbox .infobox .text
{
    float: right;
    margin: 0 10px;
    max-width: 150px;
    /*text-align: left;*/
    font-size: 11px;
    color: #999999;
}
#tier-5 .infobox .text
{
    margin-top: 5px;
}
#tier-6 .infobox .text
{
    margin-top: 5px;
}
#tier-7 .infobox .text
{
    margin-top: 5px;
}
#tier-8 .infobox .text
{
    margin-top: 5px;
}
.tierbox .counter
{
    font-style: italic;
    color: #99FFFF;
}
.tierbox-item
{
    display: inline-block;
    width: 85px;
    vertical-align: top;
    margin: 0 20px;
}
.tierbox-item .item-header
{
    color: #ffffff;
    font-weight: bold;
    position: relative;
    top: -8px;
    text-shadow: 2px 2px #000000;
}
.tierbox-item .item-sub
{
    margin-top: 4px;
    font-style: italic;
    color: #999999;
    position: relative;
    top: -8px;
    text-shadow: 1px 1px #000000;
}
.tierbox-plus
{
    display: inline-block;
    margin-top: 50px;
}

.tierbox-bot
{
    height: 50px;
    background: url('../images/tierbox-bot.png') no-repeat;
}

.tierbox-buy-button
{
    display: block;
    width: 150px;
    height: 50px;
    background: url('../images/tierbox-buy-button.png') no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
    float: right;
    margin-right: 8px;
    margin-bottom: 8px;
}
.tierbox-buy-button:hover
{
    background-position: 0px -50px;
}