---
layout: page
title: Code
permalink: /code/
codeitems:
  - title: Axion
    lang: Java
    license: Apache License 2.0
    desc: Axion is a Java library for manipulating NBT. Axion can use multiple configurations and supports the original spec and a custom extended spec right out of the box. The library provides an interface that can easily be extended to add NBT serialization support to your custom classes and object to NBT mapper utilities that can be registered with Axion when implementation of the aforementioned interface is impossible.
    url:  https://github.com/SudoPlayGames/Axion
    bugs: https://github.com/SudoPlayGames/Axion/issues

  - title: Joise
    lang: Java
    license: Apache License 2.0
    desc: Joise is a 2D, 3D, 4D and 6D modular noise library written in Java. Joise was derived from <a href="http://accidentalnoise.sourceforge.net/index.html">Joshua Tippetts' C++ Accidental Noise Library</a> to facilitate the creation of complex noise functions from chained modules, and represent the chained modules in a consistent, ordered format for serialization.
    url:  https://github.com/SudoPlayGames/Joise
    bugs: https://github.com/SudoPlayGames/Joise/issues

  - title: SudoMath
    lang: Java
    license: Apache License 2.0
    desc: SudoMath is a collection of math classes used at SudoPlay Games. Features include:<ul><li>vectors, matrices, interpolation (<a href="https://github.com/jMonkeyEngine/jmonkeyengine">jMonkeyEngine</a>)</li><li>Delaunay Triangulation (<a href="https://code.google.com/p/jdt/">jdt</a>)</li><li>quick, pluggable easing functions (<a href="http://www.robertpenner.com/easing/">Robert Penner</a>)</li><li>hexagonal grid functions (<a href="http://www.redblobgames.com/grids/hexagons/">RedBlobGames</a>)</li><li>lookup-table classes for faster sin, cos, and atan2 (<a href="http://riven8192.blogspot.com/">Riven's Blog</a>)</li></ul>
    url:  https://github.com/SudoPlayGames/SudoMath
    bugs: https://github.com/SudoPlayGames/SudoMath/issues
---

<div id="code">

  {% for codeitem in page.codeitems %}
    {% include code-item.html %}
  {% endfor %}

</div>