---
layout: default
---

<div id="home">

  {% include downloading.html %}

  <div id="lodestar-callout">
    <img class="hidden-xxs" src="/assets/lodestar_logo.png" />
    <p class="visible-xxs-block title">Lodestar: Stygian Skies</p>
    <p>... a procedural, voxel-based, tactical, sci-fi role-playing game in development for Windows, Linux, and Macintosh. Explore planets, find resources, unlock unit classes, augment your team and engage in turn-based combat on destructible terrain.</p>
    <p class="os">
      <i class="fa fa-windows"></i>
      <i class="fa fa-linux"></i>
      <i class="fa fa-apple"></i>
    </p>
    <p><a id="btn-preorder" class="btn btn-lg btn-success" href="http://lodestargame.com/preorder" role="button">Pre-Order Today!</a></p>
  </div>

  <h1>Recent News</h1>

  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <span class="post-excerpt">{{ post.excerpt }}</span>
    </li>
    {% endfor %}
  </ul>

</div>
