<footer class="site-footer">

  <div class="wrap container-fluid">

    <div class="info col-md-6 col-xs-12">
    <img class="logo" src="/assets/logo-small.png" />

      <ul>
        <li class="site-title">{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

        <li>
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
          </a>
          {% endif %}

          {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
          </a>
          {% endif %}

          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <i class="fa fa-rss"></i>
          </a>
        </li>

      </ul>
    </div>

    <div class="col-md-6 col-xs-12">
      <p class="text">{{ site.description }}</p>
      <p class="text">&copy;{{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
    </div>

    <div class="col-md-12">
      <p></p>
    </div>

  </div>

</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets-3rd-party/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

<script>
// Check if a new cache is available on page load.
window.addEventListener('load', function(e) {

  window.applicationCache.addEventListener('updateready', function(e) {
    if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
      // Browser downloaded a new app cache.
      // Swap it in and reload the page to get the new hotness.
      window.applicationCache.swapCache();
      if (confirm('A new version of this site is available. Load it?')) {
        window.location.reload();
      }
    } else {
      // Manifest didn't changed. Nothing new to server.
    }
  }, false);

}, false);
</script>