a.btn-success {
  color: #fff;
}

a.btn-primary {
  color: #000;
}

a.btn-default:hover {
  color: #000;
}

.navbar {
  border-top: #53b5b5 solid 4px;
}

.navbar .container {
  padding-left: 4px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

.navbar-default .brand-text {
  padding: 0px;
  font-family: 'Six Caps', sans-serif;
  line-height: 50px;
  font-size: 42px;
  letter-spacing: 1px;
  color: #000;
  padding-left: 100px;
}

.navbar-default .brand-logo {
  position: absolute;
  top: 0px;
}

.navbar-default .brand-text:hover {
  color: #53b5b5;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #53b5b5;
  color: #fff;
  font-weight: bold;
  height: 50px;
  border-bottom: #7fd7d7 solid 3px;
}

.nav>li>a {
  padding-right: 14px;
}

.site-footer .logo {
  float: left;
  margin-right: 8px;
  opacity: 0.5;
}

.site-footer ul {
  display: block;
  float: left;
}

.site-footer .site-title {
  height: 40px;
  font-family: 'Six Caps', sans-serif;
  line-height: 40px;
  font-size: 32px;
  letter-spacing: 1px;
}

.site-footer .info, .site-footer .col-xs-12 {
  padding-left: 0px;
}

.site-footer a {
  color: #828282;
}

.site-footer a:hover {
  color: #000;
}

.btn-primary {
  background-color: #53b5b5;
  border-color: #2c6161;
}

.btn-primary:hover {
  background-color: #5fcfcf;
}

a.btn-primary {
  color: #fff;
}

.update-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#content-updating, #content-error {
  display: none;
}

.post-excerpt {
  color: #555;
}

.pagination {
  display: block;
  text-align: center;
}

.pagination .next {
  float: left;
}

.pagination .previous {
  float: right;
}

.pagination .page-number {
  font-size: 12px;
  color: #555;
}

.invisible {
  visibility: none;
}


/* 
 * Post 
 * =================================================================
 */

 .post .categories .badge {
  font-weight: normal;
}

.post .image-row {
  margin: 0px;
  padding: 0px;
  display: block;
}

.post .image-row img {
  display: inline-block;
  margin-top: 4px;
}

.post .image-row p {
  margin: 0px;
}

.post .image-col {
  margin: 0px;
  padding: 0px;
  display: block;
}

.post #post-nav {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.post #post-next {
  float: right;
}

.post #discourse-comments {
  min-height: 32px;
}

.post iframe#discourse-embed-frame {
  min-height: 32px;
  margin-top: 8px;
}


/* 
 * Home 
 * =================================================================
 */

 div#home h1 {
  font-size: 24px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

div#home h1#recent-news {
  padding-top: 16px;
}

div#home a#btn-preorder {
  font-weight: bold;
}

div#home div#lodestar-callout {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: url('/assets/lodestar-callout.jpg');
  color: #fff;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

div#home div#lodestar-callout .os {
  font-size: 32px;
  color: #b8c9f1;
  /*opacity: 0.5;*/
}

div#home div#lodestar-callout p.title {
  font-family: 'Six Caps', sans-serif;
  line-height: 50px;
  color: #fff;
  font-size: 42px;
  letter-spacing: 1px;
}

#read-more {
  margin: 0 auto;
  margin-bottom: 32px;
  display: block;
  font-weight: bold;
}


/* 
 * Games 
 * =================================================================
 */

 div#game {
  width: 785px;
  border: #000 solid 1px;
  padding-bottom: 8px;
  margin: 0px auto;
  background-color: #e3eafc;
}

div#game .game-title-image {
  width: 785px;
  height: 50px;
  margin-bottom: 8px;
  border-bottom: #000 solid 1px;
}

div#games div#game-lodestar.panel div.panel-heading {
  background: url('/assets/lodestar.png');
}

div#games div#game-lodestar.panel div.panel-heading h3.panel-title {
  height: 50px;
  font-family: 'Six Caps', sans-serif;
  line-height: 50px;
  color: #fff;
  font-size: 42px;
  display: block;
  letter-spacing: 1px;
}

div#games div#game-lodestar.panel div.panel-heading h3.panel-title.visible-xs {
  height: 40px;
  line-height: 40px;
  font-size: 32px;
}

div#games div.panel-footer a {
  float: right;
  margin-left: 8px;
}

div#games div.panel-footer span.os {
  font-size: 18px;
  color: #999;
}

div#game-description {
  width: 785px;
  padding-left: 16px;
  padding-right: 16px;
}


/* 
 * About
 * =================================================================
 */

 div#about div.container-fluid {
  margin-bottom: 32px;
}

div#about h2 {
  margin: 0px;
  font-family: 'Six Caps', sans-serif;
  font-size: 32px;
}

div#about .avatar-container {
  text-align: center;
}

div#about .avatar-container ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
  font-size: 14px;
  color: #666;
}

div#about .avatar-container ul a {
  font-size: 24px;
  color: #53b5b5;
}

div#about .avatar-container ul a:hover {
  color: #000;
}

div#about .avatar-container iframe {
  margin-top: 8px;
}

div#about .avatar-container .badge {
  font-weight: normal;
  padding: 5px 9px;
}

.visible-xxs-block, 
.visible-xxs-inline,
.visible-xxs-inline-block {
  display: none;
}


/* 
 * Code 
 * =================================================================
 */
 div#code .panel-footer {
  font-size: 24px;
}

div#code h3.panel-title {
  height: 50px;
  font-family: 'Six Caps', sans-serif;
  line-height: 50px;
  color: #000;
  font-size: 42px;
  display: block;
  letter-spacing: 1px;
}

div#code div.panel-footer a {
  float: right;
  margin-left: 8px;
  color: #333;
}

div#code div.panel-footer a:hover {
  color: #000;
}

div#code div.panel-heading .badge {
  font-weight: normal;
  padding: 5px 9px;
  background-color: #777;
}

@media screen and (max-width: 442px) {

  .post .image-row-lg img {
    width: 182px;
    height: 137px;
  }

}

@media screen and (min-width: 443px) {

  .post .image-row-lg img {
    width: 368px;
    height: 276px;
  }

}

@media screen and (max-width: 500px) {

  .hidden-xxs {
    display: none;
  }

  .visible-xxs-block { display: block; }
  .visible-xxs-inline { display: inline; }
  .visible-xxs-inline-block { display: inline-block; }

  .post .image-row-sm img {
    width: 182px;
    height: 137px;
  }
  
}

@media screen and (min-width: 501px) {

  .post .image-row-sm img, .post .image-row-lg img {
    width: 368px;
    height: 276px;
  }

}

@media screen and (max-width: 768px) {

  .navbar-nav {
    margin-top: 0px;
  }

  .navbar .container {
    padding-left: 15px;
  }

}

@media screen and (min-width: 815px) {

  .post .image-row .col-md-6 {
    width: 50%;
    float: left;
  }

  .post .image-col.second {
    left: 2px;
  }

  .post .image-row-lg img {
    width: 740px;
    height: 555px;
  }

}

@media screen and (max-width: 991px) {

  .navbar-default .brand-logo {
    top: 0px;
  }

  .navbar-default .brand-text {
    padding-left: 64px;
  }

}